@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/hover.scss' as*;

.header{
	@include flexbox(flex, row, nowrap,space-between,center);
	position: relative;
	padding: var(--padding-l);
	margin-bottom: 5rem;

	@include responsive(tablet){
		padding: var(--padding-xl)
	}

}

