@use '../mixins/responsive.scss' as*;
@use '../mixins/flexbox.scss' as*;
@use '../mixins/pseudo.scss' as*;
@use '../mixins/hover.scss' as*;

.wavy-decoration{
  position: relative;
  width: 400px;
  height: 50px;
  overflow: hidden;
  transition: transform 0.5s;
 
  &::before{
    content: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa";
    position: absolute;
    font-size: 5em;
    top: -50px;
    left: 0%;
    color: transparent;
    font-weight: 100;
    text-decoration-style: wavy;
    text-decoration-color: var(--secondary-color);
    text-decoration-line: underline;
    animation: animate 1s linear infinite;
    transform:rotate(90deg);
  }
  
  &--show::before{
    transform:rotate(90deg);
  }
  &--show{
    transform:rotate(90deg) translateX(65px) translateY(-10rem);
  }
}

@keyframes animate {
    0% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(-43px);
    }
  }