:root {
   --bg-color:#f3f2f9;
   --primary-color:#606887;
   --secondary-color:#78ffd1;

   /* Paddings */
   --padding-s:1rem;
   --padding-m:2rem;
   --padding-l:3rem;
   --padding-xl:4rem;

   /* Z-INDEXS */
   --z-index-10:10;
   --z-index-100:100;
   --z-index-1000:1000;
   --z-index-10000:10000;

}

   $bg-color:#f3f2f9;
   $primary-color:#606887;
   $secondary-color:#78ffd1;
